<div class="home-page">
  <div class="header">
    <div data-collapse="small" data-animation="default" data-duration="400" data-no-scroll="1" data-doc-height="1"
      role="banner" class="navbar">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100 justify-content-between">
          <a href="#" class="navbar-brand"><img
              src="../../../assets/images/8bc49df1-5be9-4447-90d8-eb2e223e165e_200x200.png" loading="lazy" width="107"
              alt=""></a>
          <div id="navbarNav">
            <ul class="navbar-nav nav">
              <li class="nav-item active">
                <a class="nav-link" href="#how-it-works">How it works <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#how-we-invest">Decision Tools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#monthly-performance">Robo Advisory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#main-cta">Subscribe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#our-team">Team</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="d-flex">
      <div class="col-6">
        <div img="Img">
          <h1 class="heading hero-heading"><strong>Your Home, <br>         Your Way</strong></h1>
          <p class="paragraph hero-paragraph">Compare hundreds of lenders, Save thousands in interest.<br><br>Our
            full-service marketplace has everything you need to get into your dream home, from mortage loans to Title
            &amp; Insurance.<br><br> </p>
        </div>
      </div>
      <div class="col-6">
        <!-- <img src="../../../assets/images/hero-graph.svg" alt="" class="hero-graph w-100"> -->
        <app-rate-card></app-rate-card>
      </div>
    </div>
    <a href="/#/dashboard" class="button hero-cta-button w-button" >Start </a>
    <img src="../../../assets/images/corner.svg" alt="" class="corner-bg-image"><img
      src="../../../assets/images/rectangle.svg" alt="" class="rectangle hero"><img
      src="../../../assets/images/triangle.svg" alt="" class="triangle hero"><img
      src="../../../assets/images/hero-bg-group1.svg" alt="" class="image-12">
  </div>
  <!-- How it works -->
  <div id="how-it-works" class="how-it-works">
    <div class="container-2 w-container">
      <h1 class="heading how-it-works-heading">How it works</h1>
      <div class="how-it-works-icons d-flex">
        <div data-w-id="ff9299f3-9ed9-841a-ddd6-847d0ea83d44" class="how-it-works-item col-3"><img
            src="../../../assets/images/how-it-works-icon1.svg" alt="" class="how-it-works-icon"><img
            src="../../../assets/images/how-it-works-hover-bg-image.svg" alt="" class="image-5">
          <p class="paragraph how-it-works-icon-text">Lenders compete to give you their best interest rates on mortages
          </p>
        </div>
        <div data-w-id="ff9299f3-9ed9-841a-ddd6-847d0ea83d45" class="how-it-works-item col-3"><img
            src="../../../assets/images/how-it-works-icon2.svg" alt="" class="how-it-works-icon"><img
            src="../../../assets/images/how-it-works-hover-bg-image.svg" style="opacity:0" alt="" class="image-5">
          <p class="paragraph how-it-works-icon-text">Subscribe to daily rate updates from lenders and lock in the best
            rate.</p>
        </div>
        <div data-w-id="ae00ec16-0bf3-e05e-f280-4de9ce9860a9" class="how-it-works-item col-3"><img
            src="../../../assets/images/how-it-works-icon3.svg" alt="" class="how-it-works-icon"><img
            src="../../../assets/images/how-it-works-hover-bg-image.svg" style="opacity:0" alt="" class="image-5">
          <p class="paragraph how-it-works-icon-text">On-call mortgage loan originators to help you crunch the numbers
            and make informed decisions.</p>
        </div>
        <div data-w-id="ae00ec16-0bf3-e05e-f280-4de9ce9860aa" class="how-it-works-item col-3"><img
            src="../../../assets/images/how-it-works-icon4.svg" alt="" class="how-it-works-icon"><img
            src="../../../assets/images/how-it-works-hover-bg-image.svg" style="opacity:0" alt="" class="image-5">
          <p class="paragraph how-it-works-icon-text">Compare quotes from title, escrow and Insurance companies to save
            even more.</p>
        </div>
      </div>
      <p class="paragraph how-it-works-paragraph">Our marketplace connects you to wholesale lenders, who don&#x27;t
        maintain expensive brick and mortar locations and instead pass on the savings to you, in the form of lower
        interest rates. But we don&#x27;t stop just there, we help you shop Title, Escrow, and Insurance and Inspection
        too. </p>
    </div><img src="../../../assets/images/how-it-works-bg-group1.svg" alt="" class="image-13">
  </div>
  <div id="we-send-you-the-target-holdings" class="we-send-you-the-target-holdings">
    <div class="container"><img src="../../../assets/images/we-send-you-the-target-holdings-illustration.svg" alt=""
        class="image-6 mobile">
      <div class="d-flex">
        <div class="col-3 w-col w-col-4 w-col-medium-4">
          <h1 class="heading we-send-you-the-target-holdings-heading">We allow</h1>
          <p class="paragraph we-send-you-the-target-holdings-paragraph">you to easily navigate the complex home buying
            process, which can leave you drianed and exhausted. Our Robo Advisory engine recommends the best mortgage
            product for your financial situation, and then fetches the lowest rate for it. </p>
          <a href="#" class="button we-send-you-the-target-holdings-cta-button w-button">Launch Robo Advisor</a>
        </div>
        <div class="w-col w-col-8 w-col-medium-8"><img
            src="../../assets/images/we-send-you-the-target-holdings-illustration.svg" alt="" class="image-6 desktop">
        </div>
      </div>
    </div><img src="../../assets/images/target-holdings-bg-group1.svg" alt="" class="image-14">
  </div>
  <div id="first-cta-section" class="first-cta-section">
    <div class="container">
      <div class="d-block">
        <div class="columns w-row">
          <div class="first-cta-column w-col w-col-6 w-col-small-small-stack">
            <h4 class="h4">Subscribe to our daily selection of lenders</h4>
            <p class="first-cta-paragraph paragraph"><em class="italic-text first-cta-paragraph">*By creating an account
                on our service, you agree to subscribe to newsletters, marketing or promotional materials and other
                information we may send. However, you may opt out. </em></p>
          </div>
          <div class="first-cta-column w-col w-col-3 w-col-small-small-stack">
            <p class="first-cta-paragraph paragraph"><em>Mortgage rates fluctuate everyday depending on the interest
                rate set by the federal reserve. Get a free 30 day rate lock with float down option.</em></p>
          </div>
          <div class="column first-cta-column w-col w-col-3 w-col-small-small-stack">
            <a href="#" class="button w-button">Subscribe</a>
          </div>
        </div><img src="../../../assets/images/first-cta-bg-group1.svg" width="317" alt="" class="image-15"><img
          src="../../../assets/images/first-cta-bg-group1.svg" width="307" alt="" class="image-15">
      </div>
    </div>
  </div>
  <div id="how-we-invest" class="how-we-invest">
    <div class="container">
      <div class="d-flex">
        <div class="w-col w-col-8 w-col-medium-6"><img src="../../../assets/images/how-we-invest-illustration.svg"
            alt="" class="image-7"></div>
        <div class="column-2 w-col w-col-4 w-col-medium-6">
          <h1 class="heading how-we-invest-heading">How we help</h1>
          <div class="how-we-invest-subheading subheading">This is some text inside of a div block.</div>
          <div class="w-row">
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6"><img
                src="../../../assets/images/how-we-invest-icon1.svg" alt="" class="how-we-invest-icon">
              <div class="how-we-invest-icon-text">Momentum based</div>
            </div>
            <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6"><img
                src="../../../assets/images/how-we-invest-icon2.svg" alt="" class="how-we-invest-icon">
              <div class="how-we-invest-icon-text how-we-invest-second-icon-text">Backed by research</div>
              <p class="paragraph how-we-invest-paragraph">Shopping for homes is the </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="proof2 container">
      <div id="w-node-8f2f625018dc-90aab5f4" data-w-id="c1b3f645-00d7-8cad-767e-8f2f625018dc" class="block item-shadow">
        <h1 class="heading how-we-invest-heading-copy how-we-invest-proof-block-heading">320%</h1>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-subheading">Total returns</div>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-paragraph">Benchmark: 80%</div><img
          src="../../../assets/images/how-we-invest-proof-hover-bg-item.png" alt="" class="how-we-invest-proof-hover-bg-item"><img
          src="../../../assets/images/11.svg" alt="" class="proof-hover-icon">
      </div>
      <div id="w-node-cb8d1162c2a4-90aab5f4" data-w-id="8259b7c9-fb69-3a11-5144-cb8d1162c2a4" class="block item-shadow">
        <h1 class="heading how-we-invest-heading-copy how-we-invest-proof-block-heading">18%</h1>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-subheading">CAGR</div>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-paragraph">Benchmark: 9%</div><img
          src="../../../assets/images/how-we-invest-proof-hover-bg-item.png" alt=""
          class="image-24 how-we-invest-proof-hover-bg-item"><img src="../../../assets/images/22.svg" alt="" class="proof-hover-icon">
      </div>
      <div id="w-node-d2d7d2a9287e-90aab5f4" data-w-id="912965cf-7238-1800-fec4-d2d7d2a9287e" class="block item-shadow">
        <h1 class="heading how-we-invest-heading-copy how-we-invest-proof-block-heading">65%</h1>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-subheading"><strong
            class="how-we-invest-proof-subheading">Volatility</strong></div>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-paragraph">Benchmark: 90%</div><img
          src="../../../assets/images/how-we-invest-proof-hover-bg-item.png" alt="" class="how-we-invest-proof-hover-bg-item"><img
          src="../../../assets/images/33.svg" alt="" class="image-26 proof-hover-icon">
      </div>
      <div id="w-node-fe099bc925cd-90aab5f4" data-w-id="250863aa-d1dc-c349-beba-fe099bc925cd" class="block item-shadow">
        <h1 class="heading how-we-invest-heading-copy how-we-invest-proof-block-heading">2.5</h1>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-subheading">Sharpe</div>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-paragraph">Benchmark: 1.2</div><img
          src="../../../assets/images/how-we-invest-proof-hover-bg-item.png" alt="" class="how-we-invest-proof-hover-bg-item"><img
          src="../../../assets/images/44.svg" alt="" class="proof-hover-icon">
      </div>
      <div id="w-node-30f4eef8f057-90aab5f4" data-w-id="2f4a9df0-5f7f-73a6-403d-30f4eef8f057" class="block item-shadow">
        <h1 class="heading how-we-invest-heading-copy how-we-invest-proof-block-heading">-40%</h1>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-subheading"><strong
            class="bold-text how-we-invest-proof-subheading">Maximum drawdown</strong></div>
        <div class="how-we-invest-subheading subheading how-we-invest-proof-paragraph">Benchmark: -85%</div><img
          src="../../../assets/images/how-we-invest-proof-hover-bg-item.png" alt="" class="how-we-invest-proof-hover-bg-item"><img
          src="../../../assets/images/55.svg" alt="" class="proof-hover-icon">
      </div>
    </div><img src="../../../assets/images/how-we-invest-bg-group1.svg" alt="" class="image-16">
  </div>
  <div id="monthly-performance" class="monthly-performance">
    <div class="w-container">
      <div class="columns-2 w-row">
        <div class="w-col w-col-4 w-col-medium-6 w-col-small-small-stack">
          <h1 class="monthly-performance-heading heading">Monthly performance</h1>
          <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam
            libero vitae erat.</p>
        </div>
        <div class="w-col w-col-8 w-col-medium-6 w-col-small-small-stack"><img
            src="../../../assets/images/monthly-performance-graph.svg" alt="" class="image-9"></div>
      </div>
    </div><img src="../../../assets/images/monthly-performance-bg-group1.svg" alt="" class="image-17">
  </div>
  <div id="reviews" class="reviews">
    <div class="container-6 w-container"><img src="../../../assets/images/reviews-bg-group1.svg" alt=""
        class="image-18">
      <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
        <div class="mask w-slider-mask">
          <div class="slide w-slide">
            <p class="review-body-text">As a first time home buyer who didn&#x27;t know where to start, I thank the team
              at Super Lend </p>
            <div class="reviewer-name">- Jane Doe</div>
          </div>
          <div class="w-slide">
            <p class="review-body-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum.</p>
            <div class="reviewer-name">- John Doe</div>
          </div>
        </div>
        <div class="left-arrow w-slider-arrow-left">
          <div class="icon-3 w-icon-slider-left"></div>
        </div>
        <div class="right-arrow w-slider-arrow-right">
          <div class="icon-2 w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav w-round"></div>
      </div>
    </div>
  </div>
  <div id="main-cta" class="main-cta">
    <div class="container-3 w-container">
      <div class="columns-3 w-row">
        <div class="column-4 w-col w-col-8">
          <h1 class="heading white">Invest smarter.<br>Subscribe now.</h1>
          <p class="white">We do not share your information with anyone. Cancel any time</p>
        </div>
        <div class="column-5 w-col w-col-4">
          <a href="#" class="button main-cta-button w-button"><strong class="bold-text-2">Subscribe for
              $9.99/mo</strong></a>
        </div>
      </div>
    </div><img src="../../../assets/images/big-cta-bg-group1.svg" alt="" class="big-cta-bg-group1">
  </div>
  <div id="our-team" class="our-team">
    <div class="container">
      <div class="d-flex">
        <div class="w-col col-6">
          <div class="image-block"><img src="../../../assets/images/our-team-photo.png"
              sizes="(max-width: 700px) 100vw, (max-width: 991px) 700px, 539.9955444335938px"
              srcset="../../../assets/images/our-team-photo-p-500.png 500w, ../../../assets/images/our-team-photo.png 700w" alt="" class="image-10">
          </div>
        </div>
        <div class="w-col col-5">
          <h1 class="heading our-team-heading">Our team</h1>
          <p class="paragraph-3">We are a group of engineers and technologists who love building tools to help you make
            informed decisions about your personal finances. And we are just getting started. We bring you the exact the
          </p>
        </div>
      </div>
    </div><img src="../../../assets/images/our-team-bg-group1.svg" alt="" class="image-20">
  </div>
  <div id="footer" class="footer">
    <div class="container-5 w-container"><img src="../../../assets/images/logo.svg" alt="" class="image-11 footer-logo">
      <div class="form-block w-form">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
      <div class="footer-form-text">Join our newsletter to stay up to date on features and releases</div>
      <div class="footer-social-icons"><img src="../../../assets/images/tw.svg" alt="" class="footer-social-icon"><img src="../../../assets/images/fb.svg"
        alt="" class="footer-social-icon"><img src="../../../assets/images/ig.svg" alt="" class="footer-social-icon last">
      <p class="footer-paragraph">© Colorado– Licensed Colorado Mortgage Company Registration - Regulated by the
        Division of Real Estate – 34270 Pacific Coast Highway Suite A, Dana Point, California, 425-458-2905, NMLS ID
        1898552 Florida – Licensed as a Mortgage Broker by the Office of Financial Regulation, License No. MBR3301
        Tennessee -Tennessee Mortgage License # 191735 An Equal Housing Opportunity Lender. Copyright 2019. Bydand
        Home Loans, LLC headquartered at 34270 Pacific Coast Highway Suite A, Dana Point, CA. NMLS ID #1898552.
        949-424-2326. All rights reserved. Restrictions may apply. All loans are subject to credit, underwriting and
        property approval guidelines. Nationwide Mortgage Licensing System (NMLS) Consumer Access Web Site: <a
          href="https://www.nmlsconsumeraccess.org/" target="_blank">www.nmlsconsumeraccess.com</a>
      </p>
    </div>
    </div>
    <img src="../../../assets/images/footer-bg-group1.svg" alt="" class="image-21"><img
    src="../../../assets/images/footer-bg-boy-illustration.svg" alt="" class="image-22">
  </div>

</div>
